html {
	font-family: 'Work Sans', sans-serif;
	font-weight: 200;
	margin: 0;
	padding: 0;
}
body {
	position: relative;
	width: 100%;
	margin: 0;
	padding: 0;
}
.node {
	stroke: #ffffff;
	stroke-width: 1px;
	fill: #000;
	opacity: 0.1;
}
.node.active {
	fill: #3399ff;
	opacity: 1;
}
.node.susceptible {
	fill: #3399ff;
	opacity: 1;
}
.node.infected {
	fill: crimson;
	opacity: 1;
}
.node.recovered {
	opacity: 1;
	fill: yellowgreen;
}

.link {
	stroke: #999;
}
.time {
	position: fixed;
	bottom: 20pt;
	right: 20pt;
}

.button {
	display: block;
	padding: 2pt 5pt 2pt 5pt;
	cursor: pointer;
	border-radius: 2pt;
	font-weight: 400;
}
.button:hover {
	color: white;
	background-color: #3399ff;
}

.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.9);
}

.control-panel {
	position: fixed;
	float: left;
	width: 126pt;
	margin: 20pt;
	border: 0pt solid #3399ff;
	font-size: 10pt;
	font-weight: 400;
}
.control-element {
	position: relative;
	display: block;
	clear: both;
	width: 120pt;
	height: 18pt;
	padding-top: 4pt;
}
.control-element .label {
	position: relative;
	float: left;
	padding: 2pt;
}
.control-element .value {
	position: relative;
	float: right;
}

.settings {
	position: relative;
	width: 120pt;
	height: 0pt;
	margin-top: 8pt;
	overflow: hidden;
}
.settings-element {
	position: relative;
	display: block;
	clear: both;
	width: 120pt;
	padding-top: 5pt;
}
.settings-element .label {
	position: relative;
	float: left;
	padding: 2pt;
}
.settings-element .value {
	position: relative;
	float: right;
	margin-right: 5pt;
}
.settings-element input[type=number] {
	width: 40pt;
	float: right;
	margin-right: 5pt;
	margin-top: 1pt;
	margin-bottom: 0pt;
	padding-left: 4pt;
	outline: none;
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	font-size: 10pt;
	border: solid 1px #f9f9f9;
	border-radius: 2pt;
}
.settings-element input[type=number]:focus {
	border: solid 1px #3399ff;
}
.settings-element .button {
	float: left;
	padding: 2pt 4pt;
	margin-left: 2pt;
	margin-right: 10pt;
	margin-top: 5pt;
	cursor: pointer;
	background-color: #f7f7ff;
	border-radius: 2pt;
	border: 1px solid #3399ff;
	font-size: 8pt;
	color: black;
}
.settings-element .button:hover {
	background-color: #3399ff;
	color: white;
}

.howto-panel {
	position: fixed;
	bottom: 0pt;
	float: left;
	width: 126pt;
	margin: 20pt;
	border: 0pt solid #3399ff;
	font-size: 10pt;
	font-weight: 400;
}
.howto-element {
	position: relative;
	display: block;
	clear: both;
	width: 120pt;
	padding: 0pt 3pt;
}
.howto-element .label {
	position: relative;
	float: left;
	padding: 2pt;
}
.howto-element .value {
	position: relative;
	display: block;
	float: right;
	margin-top: 4pt;
}
.howto-element .button {
	display: block;
	border: 1px solid #3399ff;
	border-radius: 3pt;
	background-color: #f7f7ff;
	padding: 3pt 5pt;
	min-width: 8pt;
	text-align: center;
	font-size: 8pt;
	cursor: pointer;
}
.howto-element .button:focus,
.howto-element .button:hover {
	background-color: #3399ff;
	color: white;
}

.dnd {
	display: none;
}
.dnd .message {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    height: 80px;
    margin-left: -150px;
    margin-top: -40px;
    font-size: 20pt;
    font-weight: 200;
    color: #3399ff;
    text-align: center;
}
.dnd .progress-bar {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 0px;
    height: 1px;
    background-color: #3399ff;
    margin-left: -125px;
}

.help {
	display: none;
	opacity: 0;
}
.help .box {
	position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 320px;
    margin-left: -210px;
    margin-top: -170px;
    padding: 20px;
    font-size: 11pt;
    font-weight: 200;
    color: black;
    text-align: justify;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    box-shadow: 1px 1px 2px gray;
    background-color: rgba(255, 255, 255, 0.3);
}
.help .box .content {
	position: relative;
}

pre {
	display: inline;
	color: #3399ff;
}

strong {
	font-weight: 400;
}

.inline-button {
	display: inline-block;
	border: 1px solid #3399ff;
	border-radius: 3pt;
	background-color: #f7f7ff;
	padding: 1pt 3pt;
	min-width: 6pt;
	text-align: center;
	font-size: 0.8em;
}

.histogram-label {
	font-size: 11px;
	font-weight: 200;
	cursor: pointer;
}

#degree-dist {
	position: fixed;
	top: 20pt;
	right: 20pt;
}
.degree-dist-bar {
	fill: #3399ff;
}
.axis path,
.axis line {
	fill: none;
	stroke: black;
	stroke-width: 0.5px;
	shape-rendering: crispEdges;
}
.axis text {
	font-size: 11px;
}
.axis-label {
	font-size: 9pt;
}

#weight-dist {
	position: fixed;
	top: 110pt;
	right: 20pt;
}
path {
	stroke-width: 1px;
	fill: none;
}
#structural-dynamics {
	position: fixed;
	top: 200pt;
	right: 20pt;
}
